/* ----------------------------------------------------------------------------
components.css                                                                  
Enthält alle Regeln zu Komponenten.  

Wer es noch schöner möchte, möge sich mal https://cssguidelin.es/ anschauen.
----------------------------------------------------------------------------*/


/* GUIContainer
-----------------------------------------------------------------------------*/

.GUIContainer {
  position: relative;
  display: block;
  padding: var(--xl);
}


/* Canvas
-----------------------------------------------------------------------------*/

body, html {
  position: absolute!important;
  width: 100%;
  height: 100%;
}

#canvas {
  position: relative;
  z-index: 0;
  transition: all 0.7;
}

#canvas.is-fullscreen {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

#canvas.is-standard {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

#canvas.is-16by9 {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

#canvas.is-small {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

#canvas.is-large {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

#canvas.is-fixed {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

#canvas.mouseLockActive{
  border: solid 1px var(--color-mi-pink);
}




/* Navigation
-----------------------------------------------------------------------------*/

#nav-wrap {
  text-align: right;
}

#nav-wrap .nav-item {
  display: inline-block;
  margin: var(--m);
}

#nav-wrap .nav-item .button {
  color: var(--color-mi-lila);
  padding: var(--xs);
  transition: all 0.2s;
}

#nav-wrap .nav-item .button:hover {
  cursor: pointer;
  transform: scale(1.5);
}

#nav-wrap .nav-item .button.active {
  opacity: 0.5;
}




/* Console
-----------------------------------------------------------------------------*/

#console {
  display: grid; 
  grid-template-columns: 60% 1fr; 
  transition: all 0.5s;
  position: absolute;
  max-height: 2px;
  left: 0;
  bottom: 0;
  right: 0;

  padding-left: var(--l);
  padding-right: var(--l);

  background-color: var(--color-mi-lila);

  font-size: var(--fontsize-s);
  color: var(--color-text);

  font-family: var(--font-family-condensed);
  overflow: hidden;
}

#console p {
  opacity: 0;
}

#console.active {
  max-height: 400px;
}

#console.active p {
  opacity: 0.8;
}




/* Preview Video
-----------------------------------------------------------------------------*/

.previewVideo{
  position: absolute;
  top: 0;
  right: 0;
}